body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #12876f !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #12876f;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea.form-control {
    resize: vertical;
}

.btn-primary {
    background-color: #12876f;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #106655;
}
